/*#region Sheet Rules */

/* Import font da Google */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common utilities  */
#navbar_logo,
.main_content h1,
.main_content h2,
.services h1 {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h1,
.main_content h2 {
    font-size: 4rem;
    text-transform: uppercase;
    background-color: var(--main_content_h1_bg);
}

.main_btn,
.main_btn:after {
    transition: all 0.35s;
    border-radius: 4px;        
}

.button,
.main_btn,
.services_card button {
    border: none;
    outline: none;
    border-radius: 4px;
}

.services h2,
.services_card p,
.services_card button {
    color: #fff;
    position: absolute;
    left: 30px;
}

.navbar,
.button,
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media-wrap,
.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


#footer_logo,
.footer_links,
.footer_link-wrapper {
    display: flex;
}

#footer_logo,
.footer_link-items a,
.social_logo {
    text-decoration:none;    
}


/* Common Utilities della navbar */
#navbar_logo,
.navbar_menu,
.social_logo {
    display: flex;
    align-items: center;
}

.navbar_links,
.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}


/*#endregion */

/*#region Navbar Rules */

/* Elemento radice */
:root {
    --navbar_bg : #131313;
    --navbar_logo_bg: #ff8177;
    --navbar_linear_bottom : #ff0844;
    --navbar_linear_top : #ffb199;
    --navbar_fixed_height : 80px;
    --navbar_links_color : #fff;
    --navbar_button_bg: #f77062;
    --navbar_button_hover : #4837ff;
}

.navbar {
    background: var(--navbar_bg);
    height: var(--navbar_fixed_height);
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: var(--navbar_fixed_height);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: var(--navbar_logo_bg);
    background-image: linear-gradient(to top, var(--navbar_linear_bottom) 0%, var(--navbar_linear_top) 100%);
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

/* Lista non ordinata */
.navbar_menu {
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: var(--navbar_fixed_height);
}

/* Home, tech etc */
.navbar_links {
    color: var(--navbar_links_color);
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: var(--navbar_button_bg);
    transition: all 0.3s ease;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    height: 80%;
    width: 100%;
    background: var(--navbar_button_bg);
    color: var(--navbar_links_color);
}

.button:hover {
    background: var(--navbar_button_hover);
    transition: all 0.3s ease;
}

/*#endregion */

/*#region Navbar MediaQueries */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: var(--navbar_fixed_height);
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        z-index: -1;
        background-color: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    /* Queste sono le mie singole linee */
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    /* Links della navbar */
    .navbar_links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
        display: table;
    }

    /* Menu per il mobile */
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
        font-size: 1rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50px;
        margin: 0;
    }

    /* Classi per tutte e 3 le linee */
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* Classi per menu a tendina */

    /* La seconda scompare */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    /* La prima ruota */
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }    
    /* La terza ruota */
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } 

    /* Common Rules */
    .navbar_menu,
    .navbar_menu.active {
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
    }
}
/*#endregion */

/*#region Hero Section */

/* Elemento radice */
:root {
    --main_bg_color : #141414;
    --main_content_h1_bg : #ff8177;
    --main_content_h1_btm : #ff0844;
    --main_content_h1_top : #ffb199;
    --main_content_h2_btm : #b721ff;
    --main_content_h2_top : #21d4fd;  
    --main_content_btn_bot :  #f77062;
    --main_content_btn_top :  #fe5196;   
    --main_container_h : 100vh;
    --main_container_W : 100%;
}

.main {
    background-color: var(--main_bg_color)
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: var(--main_container_h);
    background-color: var(--main_bg_color);
    z-index: 1;
    width: var(--main_container_W);
    max-width: 1300px;
    padding: 0 50px;
}

/* Colore Gradient dell'H1 */
.main_content h1 {
    background-image: linear-gradient(to top, var(--main_content_h1_btm) 0%, var(--main_content_h1_top) 100%);
}

/* Colore Gradient dell'H2 */
.main_content h2 {
    background-image: linear-gradient(to top, var(--main_content_h2_btm) 0%, var(--main_content_h2_top) 100%);
}   

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

/* Button */
.main_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, var(--main_content_btn_bot) 0%, var(--main_content_btn_top) 100% );
    padding: 14px 32px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
}

/* Testo button get Started */
.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

/* Effetto sul button get Started */
.main_btn:after{
    position: absolute;
    content: '';
    /* Stato iniziale dell'effetto */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
}

.main_btn:hover {
    color: #fff;
}

.main_btn:hover:after {
    width: 100%;
}

.main_img-container {
    text-align: center;
}

/* Dimensioni immagine vettoriale */
#main_img {
    height: 80%;
    width: 80%;
}

/*#endregion */

/*#region M.Queries Hero Section */

/* Media per Tablet */
@media screen and (max-width: 768px){
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100%;
        height: 90vh;
    }

    /* Main Content Rules */
    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main_content h2 {
        font-size: 3rem;
    }    
    .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }     
}

/* Media per Smartphone */
@media screen and (max-width: 480px) {
    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main_content h2 {
        font-size: 2rem;
    }    
    .main_content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }  
    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/*#endregion */

/*#region Our Services Section */

/* Elemento radice */
:root {
    --services_bg : #141414;
    --services_h : 100vh;
    --services_h1_bg : #ff8177;
    --services_card_w : 400px;
    --services_card_h : 525px;    
}

.services{
    background: var(--services_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--services_h);
}

.services h1 {
    background-color: var(--services_h1_bg);
    background-image: linear-gradient(to right, 
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 20%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%   
    );
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card {
    margin: 1rem;
    height: var(--services_card_h);
    width: var(--services_card_w);
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%),
        url('./../img/pic3.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

/* Cambio immagine per card successiva */
.services_card:nth-child(2) {
    background-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%),
        url('./../img/pic4.jpg');
}

.services h2 {
    top: 350px;
}

.services_card p {
    top: 400px;
}

.services_card button {
    padding: 10px 20px;
    background: #f77062;
    top: 440px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

/*#endregion */

/*#region M.Queries Our Services Section */
@media screen and (max-width: 960px) {
    .services {
        height: 800px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }
    .services h1 {
        font-size: 1.2rem;
    }
    .services_card{
        width: 300px;
    }
}

/*#endregion */

/*#region Footer */
:root {
    --footer_cont_bg : #141414
}

.footer_container {
    background-color: var(--footer_cont_bg);
    padding: 5rem 0;
    flex-direction: column;
}

#footer_logo {
    color: #fff;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

.footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_link-items h2 {
    margin-bottom: 16px;
    color: #fff;
}

.footer_link-items a {
    color: #fff;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social_icon-link {
    color: #fff;
    font-size: 24px;
}
.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media-wrap {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    width: 240px;
}

.social_logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 16px;
}

.website_right {
    color: #fff;
}

/*#endregion */

/*#region M.Queries Footer */
@media screen and (max-width: 820px) {
    .footer_links {
        padding-top: 2rem;
    }

    #footer_logo,
    .website_right  {
        margin-bottom: 2rem;
    }

    .footer_link-wrapper,
    .social_media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer_link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}


/*#endregion */