/*#region Sheet Rules */

/* Import font da Google */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common utilities per i loghi color Gradient */
#navbar_logo,
.main_content h1,
.main_content h2 {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h1,
.main_content h2 {
    font-size: 4rem;
    text-transform: uppercase;
    background-color: var(--main_content_h1_bg);
}

/*#endregion */

/*#region Navbar Rules */

/* Elemento radice */
:root {
    --navbar_bg : #131313;
    --navbar_logo_bg: #ff8177;
    --navbar_linear_bottom : #ff0844;
    --navbar_linear_top : #ffb199;
    --navbar_fixed_height : 80px;
    --navbar_links_color : #fff;
    --navbar_button_bg: #f77062;
    --navbar_button_hover : #4837ff;
}

.navbar {
    background: var(--navbar_bg);
    height: var(--navbar_fixed_height);
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: var(--navbar_fixed_height);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: var(--navbar_logo_bg);
    background-image: linear-gradient(to top, var(--navbar_linear_bottom) 0%, var(--navbar_linear_top) 100%);
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

/* Lista non ordinata */
.navbar_menu {
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: var(--navbar_fixed_height);
}

/* Home, tech etc */
.navbar_links {
    color: var(--navbar_links_color);
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: var(--navbar_button_bg);
    transition: all 0.3s ease;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--navbar_button_bg);
    color: var(--navbar_links_color);
}

.button:hover {
    background: var(--navbar_button_hover);
    transition: all 0.3s ease;
}


/* Common Utilities della navbar navbar */
#navbar_logo,
.navbar_menu {
    display: flex;
    align-items: center;
}

.navbar_links,
.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.navbar,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#endregion */

/*#region Navbar MediaQueries */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: var(--navbar_fixed_height);
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        z-index: -1;
        background-color: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    /* Queste sono le mie singole linee */
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    /* Links della navbar */
    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    /* Menu per il mobile */
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    /* Classi per tutte e 3 le linee */
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* Classi per menu a tendina */

    /* La seconda scompare */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    /* La prima ruota */
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }    
    /* La terza ruota */
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } 

    /* Common Rules */
    .navbar_menu,
    .navbar_menu.active {
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
    }
}
/*#endregion */

/*#region Hero Section */

:root {
    --main_bg_color : #141414;
    --main_content_h1_bg : #ff8177;
    --main_content_h1_btm : #ff0844;
    --main_content_h1_top : #ffb199;
    --main_content_h2_btm : #b721ff;
    --main_content_h2_top : #21d4fd;    
    --main_container_h : 90vh;
    --main_container_W : 100%;
}

.main {
    background-color: var(--main_bg_color)
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: var(--main_container_h);
    background-color: var(--main_bg_color);
    z-index: 1;
    width: var(--main_container_W);
    max-width: 1300px;
    padding: 0 50px;
}

.main_content h1 {
    background-image: linear-gradient(to top, var(--main_content_h1_btm) 0%, var(--main_content_h1_top) 100%);
}

.main_content h2 {
    background-image: linear-gradient(to top, var(--main_content_h2_btm) 0%, var(--main_content_h2_top) 100%);
}   

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

/*#endregion */