/*#region Sheet Rules */

/* Elemento radice */
:root {
    --navbar_bg : #131313;
    --navbar_logo_bg: #ff8177;
    --navbar_linear_bottom : #ff0844;
    --navbar_linear_top : #ffb199;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
/*#endregion */

/*#region Common Utilities */
.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#endregion */

/*#region Navbar Rules */
.navbar {
    background: var(--navbar_bg);
    height: 80px;
    /* 
    display: flex;
    justify-content: center;
    align-items: center; 
    */
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: var(--navbar_logo_bg);
    background-image: linear-gradient(to top, var(--navbar_linear_bottom) 0%, var(--navbar_linear_top) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

/*#endregion */